*{
  font-size: large;
}
form {
    color: black;
    font-weight: bolder;
    margin: 30px;
  }
  
  .form input {
    background-color: #dddddd;
    border-radius: 5px;
    color: black;
    font-size: large;
    font-weight: bold;
  }
  input[type="submit"]{
    padding: 5px 15px;
    font-size: 24px;
    background-color: #dddddd;
    border: 1px solid #333;
    border-radius: 50px;
    cursor: pointer;
    color: black;
  }
  input[type="file"]{
    display: none;
  }
  label{
    padding: 5px;
    width: 200px;
    background: #dddddd;
    color: black;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    border: 1px solid #333;
  }
  label:hover{
    color: #333;
    background: #ffff;
  }
