* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mono, monospace;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5B5959;
}
li {
    float:left;
}
.lang{
    float: right;
}
li a {
    color: rgb(253, 250, 250);
    text-align: center;
    text-decoration: none;
    display: flex;
}
li a:hover:not(.active) {
    transition: background .500s;
    background-color: #6f6c6c;
    border-radius: 5px 5px 5px 5px;
}