* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mono, monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0c0c;
}

li {
    float: left;
}

li a {
    color: rgb(253, 250, 250);
    text-align: center;
    text-decoration: none;
    display: flex;
}

#menu li a{
    line-height: 4.3;
    padding: 0px 30px;
    border: 0px solid gray;
    border-width: 0px 1px;
}

li a:hover {
    color: hsl(0, 0%, 0%);
    transition: background .500s;
}

li a:hover:not(.active) {
    transition: background .500s;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

label {
    display: block;
}

input,
label {
    margin: 0rem 10;
}