* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mono, monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0c0c;

}

li {
    float: left;
}

li a {
    border-right: #ffffff60 solid 1px;
    color: rgb(253, 250, 250);
    text-align: center;
    padding: 0;
    text-decoration: none;
    display: flex;

}

#menu {
    line-height: 4.3;
}

li a:hover {
    border-right: #ffffff60 solid 2px;
    border-left: #ffffff60 solid 2px;
    color: hsl(0, 0%, 0%);
    transition: background .500s;
}

li a:hover:not(.active) {
    border-right: #ffffff60 solid 2px;
    border-left: #ffffff60 solid 2px;
    transition: background .500s;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

label {
    display: block;
}

input,
label {
    margin: 0rem 10;
}