/* IMAGEM DE FUNDO */
body {
  background-image: url('../img/personagem.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment:fixed;
}

* {
  font-size: large;
}
/* LOGO ENIGMA CAPITAL */
.logo{
  position: absolute;
  top: -2%;
  width: 155px; 
  height: auto;
  left: 0%
}
/* BOTÃO INICIAR */
.iniciar {
  position: fixed;
  right: 44%;
  top: 35%;
  width: 8em;
  margin-top: -2.5em;
  border: 3px solid #ffffff;
  padding: 5px 10px 5px 10px;
  background-color: gray;
  color: inherit;
  transition: background .3s;
  border-radius: 10px;
  margin-top: 400px;
  margin-left: 1150px;
  width: 150px;
  height: 40px;
  font-size: larger;
}

.iniciar a {
  color: white;
  text-decoration: none;
}
/* INPUT NOME DO PERSONAGEM */
.input {
  width: 80%;
  background-color: black;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  outline: none;
  padding: 0px 10px 5px;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--deep-grey);
  border-bottom: 1px solid white;
  margin: 28% 35%;
}
.input{
  color:#ffffff;
}
.nome {
  position: fixed;
  width: 300px;
  height: 150px;
  right: 38%;
  top: 68%;
}
/* IMAGEM DOS PERSONAGENS */
.img-fem,.img-fem-active,.img-masc,.img-masc-active{
  width: 250px;
  height: auto;
}
.borda-fem img{
  border:#ffffff 3px solid;
  border-radius: 100%;
}
.img-fem,.img-fem-active{
  position: absolute;
  top: 20%;
  left: 22%;
}
.img-fem:hover,.img-fem-active{
  background-color: rgb(255, 202, 249);
}
.img-masc,.img-masc-active{
  position: absolute;
  top: 20%;
  left: 58%;
}
.img-masc:hover,.img-masc-active{
  background-color: rgb(110, 216, 254);
}
.borda-masc img{
  border:#ffffff 3px solid;
  border-radius: 100%;
}
/* TEXTOS */
.personagem{
  position: absolute;
  top: 5%;
  right: 29%;
  color:black;
  font-size: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 4px;
}
center{
  font-size: 20px;
}
.nome-escolha{
  position: absolute;
  top: 65%;
  right: 36%;
  color:black;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 4px;
}
@media only screen and (min-width: 1025px){
  .input{
    margin: 20% 12%;
  }
  .iniciar {
    position: fixed;
    right: 42%;
    top: 26%;
  }
  .img-fem,.img-fem-active,.img-masc,.img-masc-active{
    width: 280px;
    height: auto;
  }
  .img-masc,.img-masc-active{
    position: absolute;
    top: 20%;
    left: 58%;
  }
  .img-fem,.img-fem-active{
    position: absolute;
    top: 20%;
    left: 25%;
  }
  .personagem{
    position: absolute;
    top: 8%;
    right: 36%;
  }
  .nome-escolha{
    position: absolute;
    top: 56%;
    right: 40%;
    font-size: 25px;
  }
  center{
    font-size: 25px;
  }
}