body {
  background-image: url('../img/personagem.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  font-size: large;
}
.logo{
  position: absolute;
  top: -1%
}
.iniciar {
  position: fixed;
  right: 48%;
  top: 45%;
  width: 8em;
  margin-top: -2.5em;
  border: 3px solid #ffffff;
  padding: 5px 10px 5px 10px;
  background-color: gray;
  color: inherit;
  transition: background .3s;
  border-radius: 10px;
  margin-top: 400px;
  margin-left: 1150px;
  width: 150px;
  height: 40px;
  font-size: larger;
}

.iniciar a {
  color: white;
  text-decoration: none;
}

.input {
  width: 88%;
  background-color: black;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  outline: none;
  font-size: 0.9em;
  padding: 25px 10px 10px;
  font-weight: 600;
  color: var(--deep-grey);
  border-bottom: 1px solid white;
  margin-top: 15%;
}

.nome {
  position: fixed;
  width: 300px;
  height: 150px;
  right: 44%;
  top: 68%;
}
.input{
  color:#ffffff;
}
.borda-fem img{
  border:#ffffff 3px solid;
  border-radius: 100%;
}
.img-fem,.img-fem-active{
  position: absolute;
  top: 20%;
  left: 25%;
}
.img-fem:hover,.img-fem-active{
  background-color: rgb(255, 202, 249);
}
.img-masc,.img-masc-active{
  position: absolute;
  top: 20%;
  left: 55%;
}
.img-masc:hover,.img-masc-active{
  background-color: rgb(110, 216, 254);
}
.borda-masc img{
  border:#ffffff 3px solid;
  border-radius: 100%;
}
.personagem{
  position: absolute;
  top: 5%;
  right: 45%;
  color:black;
  font-size: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 4px;
}
center{
  font-size: 30px;
}
.nome-escolha{
  position: absolute;
  top: 55%;
  right: 45%;
  color:black;
  font-size: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 4px;
}